.text-Pacifico {
    font-family: Pacifico;
}
.no-bot-margin {
    margin-bottom: 0px;
}
.padding-same-as-grid {
    padding-right: 0px;
    padding-left: 0px;
}  
body {
    background: url("images/curls.png");
}
.footer-height {
    height: 40px;
}
.portfolio-title {
    position: relative;
    top: -50px;
    text-align: center;
    font-size: 18px;
}
.descriptors {
    text-align: center;
    line-height: 12px;
}
.message-textarea {
    width: 50%;
    height: 200px;
}
.submit-button {
    display: block;
    margin-bottom: 10px;
}
.form-inputs {
    margin-bottom: 20px;
}
.container, .navbar {
    border-radius: 6px;
}
.first-row {
    padding-top: 15px;
}
@media only screen and (max-width: 600px) {
.small-screen-middle {
    text-align: center;
    padding-top: 20px;
}
} 
